@model EntityLayer.Concrete.Message

@{
    ViewBag.Title = "GetInboxMessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">İletişim & Mesaj</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Admin Paneli</a></li>
                    <li class="breadcrumb-item active">İletişim & Mesaj</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @Html.Action("SidebarPartial", "Contact")
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Mesaj Detaylarını Gör</h3>

                <div class="card-tools">
                    <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="mailbox-read-info">
                    <h5>@Model.Subject</h5>
                    <h6>
                        Kimden: @Model.SenderMail
                        <span class="mailbox-read-time float-right">@Model.MessageDate.ToString("dd.MM.yyyy | HH:mm")</span>
                    </h6>
                </div>
                <div class="mailbox-read-message">
                    <p>@Html.Raw(Model.MessageContent)</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Yanıtla</button>
                    <button type="button" class="btn btn-default"><i class="fas fa-share"></i> İlet</button>
                </div>
                <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</button>
                <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Yazdır</button>
            </div>
        </div>
    </div>
</div>